*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}

// * @default {
//     *    // extra-small
//     *    xs: 0,
//     *    // small
//     *    sm: 600,
//     *    // medium
//     *    md: 900,
//     *    // large
//     *    lg: 1200,
//     *    // extra-large
//     *    xl: 1536,
//     * }



// common layout

.main-contianer {
    margin-top: 80px;
}

// theme heading css

.ev-theme-heading {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -18px;
        height: 4px;
        width: 70px;
        display: inline-block;
        background: $color-primary;
    }
}

