// common section top and bottom spaces
.common-section {
    padding: 64px 0;
}

// banner section UI.
.banner-section {
    position: relative;
    background: linear-gradient(115deg, #F9FBF9 28.32%, #B0C2B2 172.58%);

    .banner-info {
        position: relative;
        padding: 100px 0;

        h3 {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
        }

        .action-btn {
            margin-top: 40px;
        }

        .whats-new {
            position: absolute;
            bottom: 0;
            background-color: #f00;
            padding: 10px 16px;
            color: #fff;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
    }

    .banner-bg {
        background: url(~/public/images/landingPage/header_banner.jpg) no-repeat center right/cover;
        height: 100%;
        display: inline-block;
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}


// Instructions sections

.instruction-section {
    padding: 34px 0;
}


.how-it-work-section {
    .heading-row {
        margin-bottom: 48px;
    }
}



// testimonial-section

.testimonial-section {
    .testimonial-section-row {
        padding: 48px 100px;
        gap: 44px;
        align-items: center;

        .image-box {
            width: 303px;
            height: 303px;
            position: relative;

            .active-image {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: #fff;
                padding: 24px;

                .large-avatar {
                    width: 100%;
                    height: 100%;
                }
            }

            .remaining-list {
                position: absolute;
                left: -38px;
                top: 0;
                bottom: 0;
                /* margin: auto; */
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                li {
                    &:first-child {
                        position: relative;
                        top: -40px;
                        left: 52px;
                    }

                    &:nth-child(2) {
                        position: relative;
                        top: -28px;
                        left: 12px;
                    }

                    &:nth-child(3) {
                        position: relative;
                        top: 0;
                        left: 0;
                    }

                    &:nth-child(4) {
                        position: relative;
                        top: 22px;
                        left: 10px;
                    }

                    &:nth-child(5) {
                        position: relative;
                        top: 32px;
                        left: 42px;
                    }
                }
            }
        }

        .content-box {
            width: calc(100% - 350px);
            max-width: 574px;
        }
    }
}


.our-client-section {
    .heading-row {
        margin-bottom: 48px;
    }

    .our-client-row {
        .MuiGrid-item {
            background-color: #fff;
            width: 195px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 105px;
        }
    }
}


.contact-us-section {
    background: var(--grdient, linear-gradient(115deg, #F9FBF9 28.32%, #B0C2B2 172.58%), linear-gradient(115deg, #242424 28.32%, #0F3F14 172.58%), #348D3D);
    .heading-row {
        margin-bottom: 48px;
    }
    .form-data-list {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;

        li {
            width: 49%;
            margin-bottom: 2%;
            &.text-area-field {
                width: 100%;
            }
        }
    }
}